body {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.border {
        display: grid; 
    width: 500px; 
    height:700px; 
    background-color: #D7D7D7;
    justify-content: center;
    border-radius: 10px;
        box-shadow: 1px -1px 20px rgb(75, 74, 74);
}
.border1 {
    display: grid; 
max-width: 500px; 
height:700px; 
background-color: #D7D7D7;
justify-content: center;
border-radius: 10px;
    box-shadow: 1px -1px 20px rgb(75, 74, 74);
}
.profile {
    display: flex;
    margin-top: 100px;
    margin-left: 140px;

}
.profile1 {
    display: flex;
    margin-top: 100px;
    justify-content: center;

}
.header {
    display: inline-flex;
    justify-content: center;
    margin-top: 30px;
    border-bottom: 2px solid rgb(155, 155, 155);
    padding-bottom: 10px;
    height: 30px;
    width: 500px;
}
a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    max-height: 100px;
    user-select: none;
}
button {
    height: 30px;
    outline: none;
    border: none;
    background-color: #D7D7D7;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #e0dfdf ;
    box-shadow: 1px -1px 10px rgb(75, 74, 74);
    transition: 0.5s;
}
#button-profile {
    margin-left: 0px;
    margin-right: 20px;
}
#friends {
    margin-right: 20px;
}
.avatar {
    background-color: aliceblue;
    border-radius: 300px;
    width: 200px;
    height: 200px;
}
.avatar-css {
display: flex;
justify-content: center;
height: 200px;
margin-top: -100px;
}
.nick {
    display: flex;
    justify-content: center;
    margin-top: -140px;
    margin-right: 20px;
    font-weight: 600;
}
.nick1 {
    display: flex;
    justify-content: center;
    margin-top: -140px;
    margin-right: 20px;
    font-weight: 600;
}
p {
    margin: 0;
}
.avatarka {
    background-color: aliceblue;
    border-radius: 300px;
    width: 45px;
    height: 45px;
    margin-left: 20px;
    margin-top: 8px;
}
.contact-div {
    display: flex;
    justify-content: center;
    margin-top: -48px;
}
.name {
    margin-top: -34px;
    margin-left: 80px;
}
.asd {
    display: none;
    width: 750px;
    margin-left: 400px;
    height: 60px;
    margin-top: -40px;
    margin-bottom: -25px;
    box-shadow: 1px -1px 200px rgb(75, 74, 74);
    border-radius: 10px;
}
.inform-head {
    margin-bottom: 20px;
    margin-top: 40px;
    display: inline-flex;
    width: 460px;
    justify-content: center;
}
.main-border {
width: 1200px; 
height:800px; 
background-color: #D7D7D7;
justify-content: center;
border-radius: 10px;
box-shadow: 1px -1px 20px rgb(75, 74, 74);

}
.main {
    display: flex;
    justify-content: flex-end;
    margin-top: -700px;
    margin-right: 20px;

}
.main-header {
    display: flex;
    margin-top: 30px;
    margin-bottom: 48px;
    justify-content: center;
    border-bottom: 2px solid rgb(155, 155, 155);
    padding-bottom: 10px;
}
.scroll-contact {
    width: 400px;
    height: 680px;
    justify-content: flex-start;
    display: flex;
    overflow-y: scroll;
}
#message {
    width:700px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
    outline-width: 0;

}
.inp-msg {
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    margin-right: 35px;
}
#group1 {
    margin-left: 20px;
}
#news {
    margin-left: 20px;
}
.find {
    padding-left: 40px;
    padding-top: 20px;
}
#find-input {
    width: 300px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 1px solid black;
    outline-width: 0;
}
#email {
    max-width: 460px;
    word-break: break-all;
}
#email1 {
    max-width: 460px;
    word-break: break-all;
    margin-top: 60px;
}
#settings {
}
#settings1 {
    margin-left: 0px;
}
.findcont {
    display: grid;
    text-align: center;
    margin-top: -600px;
    width: 800px;
    margin-left: 400px;
    height: 600px;
}
.netcont {
    display: grid;
    justify-content: center;
}
.news {
    display: flex;
    justify-content: flex-end;
    margin-top: -700px;
    margin-right: 20px;
}
.news-header {
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 48px;
}
.news-border {
    width: 1180px; 
height:800px; 
background-color: #D7D7D7;
justify-content: center;
border-radius: 10px;
box-shadow: 1px -1px 20px rgb(75, 74, 74);
}
#news1 {
    margin-left: 20px;
}
.main-border1 {
    width: 1200px; 
    height:800px; 
    background-color: #D7D7D7;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px -1px 20px rgb(75, 74, 74);
        overflow-y: scroll;
        position: relative; /* Добавляем позиционирование для эффекта размытия */
}
.add {
    position: absolute;
    display: grid;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #e0dfdf !important;
    box-shadow: 1px -1px 10px rgb(75, 74, 74);
    z-index: 1;


}
.div-add {
    display: block;
    margin-left: 1780px;
    margin-top: -80px;
}
.first-palochka {
    border-left: 4px solid white;
    height: 20px;
    margin-top: 5px;
    margin-left: 8px;
}
.second-palochka {
    border-bottom: 4px solid white;
    height: 20px;
    margin-top: -34px;
}
.intopost {
    position: absolute; /* Позволяет расположение по координатам родителя */
    display: none; /* Изначально скрыт */
    justify-content: center; 
    align-items: center;
    z-index: 100; /* Убедитесь, что этот з-index больше, чем у родительского элемента */
}

.open {
    display: grid; /* Отображать, когда он открыт */
    margin-left: 1630px; /* Положение относительно родителя */
    background-color: #D7D7D7; /* Цвет фона */
    z-index: 101; /* Может быть добавлено, чтобы элемент был явно выше */
    margin-top: -500px;
}
.input1 {
    display: grid;
    height: 180px;
    padding: 10px;
    border: 3px solid rgb(75, 74, 74);
    border-radius: 10px;

}
.public {
    background-color: #e0dfdf !important;
    box-shadow: 1px -1px 10px rgb(75, 74, 74);
    margin-bottom: 20px;
    margin-top: 10px;
}
textarea {
    resize: none;
    margin-top: -10px;
}
#text {
    margin-bottom: 10px;
}
.information {
    margin-left: 20px;
}
.input__wrapper {
    position: relative;
    text-align: center;
    height: 40px;
  }
   
  .file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
   
  .input__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid #fff;
  }
   
  .input__file-button-text {
    line-height: 1;
    margin-top: 1px;
  }
   
  .input__file-button {
    width: 100%;
    max-width: 200px;
    height: 40px;
    background: #1bbc9b;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
  }
  .blur {
    filter: blur(3px);
    transition: filter 0.3s ease; /* Плавный переход для размытия */
}
#add-inf {
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    outline: none;
    background-color: #D7D7D7;
    padding-left: 20px;
    font-size: 1rem;
}
.input__wrapper1{
    position: relative;
    text-align: center;
    height: 40px;
  }
   
  .file1 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
   
  .input__file-icon-wrapper1 {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid #fff;
  }
   
  .input__file-button-text1{
    line-height: 1;
    margin-top: 1px;
  }
   
  .input__file-button1 {
    width: 100%;
    max-width: 200px;
    height: 40px;
    color: #000000;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
  }
  .set {
    display: grid;
    justify-content: center;
    height: 250px;
    margin-bottom: -150px;
  }
  .addavatar {
    height: 30px;
    outline: none;
    border: none;
    background-color: #D7D7D7;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: #e0dfdf ;
    box-shadow: 1px -1px 10px rgb(75, 74, 74);
    transition: 0.5s;
    cursor: pointer;
    margin-left: 20px;
}
.addinfo{
    height: 30px;
    outline: none;
    border: none;
    background-color: #D7D7D7;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: #e0dfdf ;
    box-shadow: 1px -1px 10px rgb(75, 74, 74);
    transition: 0.5s;
    cursor: pointer;
    margin-top: 10px;
}